.cardBox {
  display: flex;
  justify-content: center;
}
.cardBody {
  transition: all 0.3s ease-in;
  box-shadow: 10px 10px 10px 1px rgb(0 0 0 / 30%);
}
.cardBody:hover {
  transform: scale(1.07);
}
.cardBox .card {
  margin-right: 30px;
}
.cardBox .card-title {
  color: #333;
}
.cardBox .card-text {
  color: #333;
}
