* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.Navbar {
  background-color: #da291c !important;
  padding: 0;
}

body {
  background-color: #fab700;
  color: #fff;
  font-size: 16px;
  padding-top: 150px;
  /* body에 패딩 탑을 주어야 nav가 가리지 않음. */
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

.row {
  text-align: center;
}

.logo {
  display: block;
  margin-top: 20px;
  width: 9vw;
}
.logo img {
  width: 100%;
}
.logo span {
  display: none;
}

.navMenu:hover {
  color: #fff;
}

.navMenu {
  font-size: 2rem;
  color: #fab700;
  transition: all 0.5s ease;
  margin-right: 13px;
}

.menuHeader {
  font-size: 3rem;
  text-align: center;
  color: #da291c;
  margin-top: 50px;
}
.introSubtitle {
  font-size: 2.33rem;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.navbar-toggler {
  border: 2px solid snow;
}
.navbar-toggler {
  margin: 2% 0;
}
.navbar > .container {
  flex-direction: column;
}
.menuHeader {
  margin-top: 200px;
}
.mainImg {
  width: 100%;
}
.mainMore {
  position: absolute;
  left: 50%;
  margin-left: -65px;
  font-size: 2rem;
  padding: 0 20px;
  border-radius: 20px;
  background-color: #009223;
  transition: all 0.3s ease;
}
.mainMore:hover {
  transform: scale(1.08);
}
.fadeAni {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: all 1s;
}
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .carousel-fade {
    margin-top: -24px;
  }
}
