* {
  margin: 0;
  padding: 0;
}
.Navbar {
  background-color: #fff !important;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
  font-size: 16px;
}
.navbar-brand {
  font-size: 2rem;
  margin-left: -200px;
  font-weight: bold;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

.main-bg {
  background-image: url(./images/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
  width: 100%;
}
.row {
  text-align: center;
}

.logo {
  display: block;
  margin-top: 20px;
  background: url(./images//logo.png) 0 0 no-repeat;
  background-size: 120px 70px;
  width: 200px;
  height: 70px;

  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
}
h2 {
  line-height: 2em;
}
.menu,
.about {
  transition: all 0.4s ease-in;
  line-height: 2.5em;
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
  padding-top: 10px;
}
.menu:hover,
.about:hover {
  color: #da291c;
}
