* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.Navbar {
  background-color: #da291c !important;
  padding: 0;
}

body {
  background-color: #fab700;
  color: #fff;
  font-size: 16px;
}
.navbar-brand {
  font-size: 2rem;
  margin-left: -200px;
  font-weight: bold;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

.main-bg {
  background-image: url(./images/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 823px;
}
.row {
  text-align: center;
}

.logo {
  display: block;
  margin-top: 20px;
  background: url(./images//logo.png) 0 0 no-repeat;
  background-size: 120px 70px;
  width: 200px;
  height: 70px;

  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
}

.navbar > .container {
  justify-content: flex-start;
  margin-left: -20px;
}
.navMenu:hover {
  color: #fff;
}

.navMenu {
  font-size: 2rem;
  margin-top: 25px;
  color: #fab700;
  transition: all 0.5s ease;
  margin-right: 13px;
}

.menuHeader {
  font-size: 3rem;
  text-align: center;
  color: #da291c;
  margin-top: 50px;
}
p {
  font-size: 2.33rem;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
